<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/layouts/layout}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owner Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/owner.css}" />
    <script type="module" th:src="@{/js/home/home.js}"></script>
    <script type="module" th:src="@{/js/owner/owner.js}"></script>
    <link rel="stylesheet" href="/css/addCar2.css">
    <script src="/js/owner/addCar/addCar2.js"></script>
</head>

<body>
    <section layout:fragment="content">
        <tbody>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add a car</li>
                </ol>
            </nav>

            <h1>Add a car</h1>


            <div class="container">
                <div class="steps" id="kt_stepper_example_clickable">
                    <div class="step1" data-step="1" onclick="navigateToStep(1)">Step 1: Basic</div>
                    <div class="step2" data-step="2" onclick="navigateToStep(2)">Step 2: Details</div>
                    <div class="step3" data-step="3" onclick="navigateToStep(3)">Step 3: Pricing</div>
                    <div class="step4" data-step="4" onclick="navigateToStep(4)">Step 4: Finish</div>
                </div>
            </div>

                <form id="carForm" class="form-step" onsubmit="return false;">
                    <div class="container">
                        <h2 class="text-center">Vehicle Information Form</h2>
                        <form>
                            <!-- Mileage and Fuel Consumption -->
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="mileage">Mileage <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control mileage" id="mileage"
                                        placeholder="Enter mileage">
                                </div>
                                <div class="form-group col-6">
                                    <label for="fuelConsumption">Fuel Consumption</label>
                                    <input type="number" class="form-control mileage" id="fuelConsumption"
                                        placeholder="liters/100 km">
                                </div>
                            </div>


                            <form>
                                <div class="row">
                                    <!-- Address Section -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="searchAddress">Address <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="searchAddress"
                                                placeholder="Search for an address">
                                        </div>
                                        <div class="form-group">
                                            <label for="cityProvince">City/Province</label>
                                            <select id="cityProvince" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>City 1</option>
                                                <option>City 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="district">District</label>
                                            <select id="district" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>District 1</option>
                                                <option>District 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ward">Ward</label>
                                            <select id="ward" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>Ward 1</option>
                                                <option>Ward 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="houseStreet">House Number, Street</label>
                                            <input type="text" class="form-control" id="houseStreet"
                                                placeholder="House number, Street">
                                        </div>
                                    </div>

                                    <!-- Description Section -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="description">Description of your vehicle</label>
                                            <textarea class="description" id="description" rows="10"
                                                placeholder="Description of your vehicle"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <h4>Additional functions:</h4>
                                    <div class="row">
                                        <!-- First column (Bluetooth, GPS, Camera) -->
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="bluetooth">
                                                <label class="form-check-label" for="bluetooth"><i
                                                        class="fas fa-bluetooth"></i> Bluetooth</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="gps">
                                                <label class="form-check-label" for="gps"><i
                                                        class="fas fa-map-marked-alt"></i> GPS</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="camera">
                                                <label class="form-check-label" for="camera"><i
                                                        class="fas fa-camera"></i> Camera</label>
                                            </div>
                                        </div>
                                        <!-- Second column (Sun roof, Child lock, Child seat) -->
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="sunRoof">
                                                <label class="form-check-label" for="sunRoof"><i class="fas fa-sun"></i>
                                                    Sun roof</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="childLock" checked>
                                                <label class="form-check-label" for="childLock"><i
                                                        class="fas fa-lock"></i> Child lock</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="childSeat" checked>
                                                <label class="form-check-label" for="childSeat"><i
                                                        class="fas fa-child"></i> Child seat</label>
                                            </div>
                                        </div>
                                        <!-- Third column (DVD, USB) -->
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="dvd">
                                                <label class="form-check-label" for="dvd"><i
                                                        class="fas fa-compact-disc"></i> DVD</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="usb">
                                                <label class="form-check-label" for="usb"><i class="fas fa-usb"></i>
                                                    USB</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="container py-5">
                                <h5>Documents</h5>
                                <div class="row">
                                    <!-- Registration paper -->
                                    <div class="col-md-6">
                                        <label for="registration" class="form-label">Registration paper:<span
                                                class="text-danger">*</span></label>
                                        <div class="file-upload border rounded p-3 text-center">
                                            <i class="fa fa-upload fa-2x"></i>
                                            <p>Drag and drop <br> OR</p>
                                            <a href="#">Select file</a>
                                        </div>
                                    </div>
                                    <!-- Certificate of inspection -->
                                    <div class="col-md-6">
                                        <label for="inspection" class="form-label">Certificate of inspection:<span
                                                class="text-danger">*</span></label>
                                        <div class="file-upload border rounded p-3 text-center">
                                            <i class="fa fa-upload fa-2x"></i>
                                            <p>Drag and drop <br> OR</p>
                                            <a href="#">Select file</a>
                                        </div>
                                    </div>
                                    <!-- Insurance -->

                                </div>
                                <div class="row">
                                    <!-- Registration paper -->
                                    <div class="col-md-6">
                                        <label for="registration" class="form-label">Registration paper:<span
                                                class="text-danger">*</span></label>
                                        <div class="file-upload border rounded p-3 text-center">
                                            <i class="fa fa-upload fa-2x"></i>
                                            <p>Drag and drop <br> OR</p>
                                            <a href="#">Select file</a>
                                        </div>
                                    </div>
                                    <!-- Certificate of inspection -->
                                    <div class="col-md-6">
                                        <label for="inspection" class="form-label">Certificate of inspection:<span
                                                class="text-danger">*</span></label>
                                        <div class="file-upload border rounded p-3 text-center">
                                            <i class="fa fa-upload fa-2x"></i>
                                            <p>Drag and drop <br> OR</p>
                                            <a href="#">Select file</a>
                                        </div>
                                    </div>
                                    <!-- Insurance -->

                                </div>
                                <p class="text-muted mt-3">File type: doc, docx, pdf, jpg, jpeg, png</p>
                            </div>
                        </form>

                            <!-- button -->
                            <div class="btn-group">
                                <button type="button" id="cancelBtn" class=" btn btn-secondary me-2 "
                                    style="border-radius: 5px">Cancel</button>
                                <button type="button" id="nextBtn" class="btn btn-primary" style="
                        border-radius: 5px;
                    ">Next</button>
                            </div>





        </tbody>

    </section>
</body>

</html>